<?xml version="1.0" encoding="UTF-8"?>
<configuration name="UIPerfTest" status="WARN" packages="org.apache.logging.log4j.test">
	<appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%d %-5p [%t] (%F:%L) - %m%n"/>
		</Console>
	</appenders>
	<loggers>
		<logger name="com.salesforce.perfeng.uiperf" level="WARN" additivity="false">
			<appender-ref ref="STDOUT"/>
		</logger>
		<root level="WARN">
			<appender-ref ref="STDOUT"/>
		</root>
	</loggers>
</configuration>
